/* Font Link */
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "Poppins";
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --bg--color: #F9F9F9;
    --btn--color: #FFAE00;
    --cart--color: #F8F8F8;
    --font--color: #299D00;
    --sub-para--color: #90A3BF;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
.title1 {
    font-size: 48px;
    color: black;
}

h4,
.title4 {
    font-size: 20px;
    font-weight: 700;
}

p,
.para {
    font-size: 19px;
}

p,
.sub-para {
    font-size: 14px;
    font-weight: 500;
    color: var(--sub-para--color);
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Header */
.header-section {
    background-color: var(--bg--color);
}

.nav-logo {
    max-width: 296px;
}

.list-item {
    gap: 24px;
    margin-bottom: 0;
}

.nav-list-item {
    font-size: 19px;
    font-weight: 500;
    color: black;
    text-shadow: 2px 2px 0 white;
}

.nav-list-item:hover {
    border-bottom: 1px solid var(--btn--color);
    color: var(--btn--color);
}

.nav-collapse {
    display: flex;
    gap: 65px;
}

.bo-underline {
    border-bottom: 2px solid var(--btn--color);
}

.ham {
    display: none;
    height: 20px;
    width: 20px;
}

.ham .fa-solid {
    font-size: 24px;
}

.active {
    display: block !important;
}


/* Banner-section */
.banner-section {
    background: url(../Assets/vistara_banner.png) no-repeat center/cover;
    min-height: 450px;
    padding-block: 40px 60px;
}

.banner-section .title1 {
    margin-bottom: 140px;
}

.title1 span {
    color: var(--btn--color);
    font-weight: 400;
}

.banner-section .para {
    max-width: 433px;
    color: #ffffff;
}

.bottom-content {
    padding: 50px 15px;
    border-radius: 22px;
    box-shadow: 2px 5px 10px gray;
    left: 0;
    right: 0;
    bottom: -70px;
    background-color: var(--cart--color);
    z-index: 5;
    /* background: url(../Assets/box-shadow.png) no-repeat center/cover; */
}

.bottom-content>div {
    width: 20%;
    padding-left: 20px;
}

.icon-content>img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.icon-content {
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

.sub-head {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: start;
}

.form-img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-right: 5px;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    /* font-family: inherit; */
    /* font-size: inherit; */
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 19px;
    border-radius: 8px;
    overflow: hidden;
    background: black;
    color: rgb(255, 255, 255);
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: var(--btn--color);
    width: 120%;
    left: -10%;
    transform: skew(15deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}

/* Car-section */
.car-section {
    padding: 100px 0 325px;
    /* background-color: #FFAE00; */
}

.car-section .col-10 {
    margin-bottom: 50px;
}

.cart-img {
    max-width: 224px;
    margin: 0 auto 20px;
}

#card-cars {
    row-gap: 30px;
}

.cart {
    padding: 24px 20px 12px 10px;
    background: var(--cart--color);
    box-shadow: 2px 5px 10px gray;
    border-radius: 10px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart:hover {
    transform: translateY(10px);
    box-shadow: 1px 10px 10px rgb(16, 88, 204);
    transition: 1.2s;
}

.avl {
    min-width: 85px;
    padding: 7px 5px 7px 10px;
    background: rgba(41, 157, 0, .1);
    color: var(--font--color);
    display: inline-block;
    border-radius: 25px;
}

.avl img {
    width: 9px;
    height: 9px;
    object-fit: contain;

}

.content1 .pa,
.content2 .pa {
    font-size: 14px;
    font-weight: 500;
}

.content2 {
    margin-block: 10px;
}

.pa img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-right: 5px;
}

.cart-price>.title4 span {
    font-size: 14px;
    color: #d9d9d9;

}

/* Left box */


.filter-box {
    background-color: white;
    padding: 10px 0;
}

.filter-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #D7D7D7;

}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 15px;
}

.filter-header h5 {
    color: var(--btn--color);
}

.filter-header h5 {
    margin: 0;
}

.clear-btn {
    background: none;
    border: none;
    color: #8d8d8d;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
}

.clear-btn::before {
    background: none;
}

.form-check {
    padding: 5px 5px 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-btn {
    /* padding: 4px 5px 4px 1px; */
    min-width: 60px;
    background-color: var(--btn--color);
    border-radius: 10px;
}

.yellow-btn .form-check-input {
    background: transparent;
    color: white;
    border: 1px solid white !important;
}

.bf {
    min-width: 60px;
    border: 1px solid var(--btn--color);
    border-radius: 10px;
}

.form-check label {
    font-size: 11px;
    font-weight: 500;
    margin-left: 2px;
}

.section-title {
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    color: #000;
}

.range-output {
    font-size: 0.85rem;
    color: #555;
}

.cart button {
    padding: 12px 8px;
}

.sort {
    font-size: 14px;
    color: #bdbdbd;
}

.sort img {
    height: 27px;
    width: 27px;
    object-fit: contain;
}

.form-check .form-check-input {
    margin: 0;
}

.form-check-input[type=checkbox] {
    border: 1px solid black;
}

.form-checkbox {
    font-size: 11px;
    font-weight: 500;
}

/* car section anchor linking */
.card-list {
    max-width: 272px;
    gap: 8px;
    padding-left: 0;

}

.card-list>li {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    text-align: center;
}

.card-list>li>a {
    height: 100%;
    width: 100%;
}

.card-list img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* Contact -section */

.contact-container {
    width: 896px;
    margin: auto;
    border-radius: 16px;
    padding: 30px 15px 20px;

    position: relative;
    overflow: hidden;
    box-shadow: -1px -3px 6px 2px gainsboro;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.left {
    flex: 1 1 300px;
    padding: 20px;
}

.left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.left form input,
.left form textarea {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    max-height: 45px;
}

.left form textarea {
    max-height: 94px !important;
}

.left form button {
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -25px;
}

.app-download p {
    margin: 0;
}

.sm-text {
    color: #ada9a9;
    font-size: 1rem;
    margin-bottom: 18px;
}

.badges {
    height: 120px;
    width: 180px;
}

.badges a {
    height: 100%;
    width: 100%;
}

.black-img {
    height: 60px;
    width: 180px;
    object-fit: contain;
}

.cars-bottom {
    height: 138px;
    max-width: 691px;
    margin: auto;
}

.right .title4 {
    font-weight: 300;
    margin-bottom: 12px;
}


/* Footer Section */
.footer-section {
    padding: 300px 15px 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links>li a {
    color: white;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe button {
    margin-top: 14px;
}

.subscribe #email {
    padding: 11px 7px;
    border-radius: 4px;
}

.subscribe a {
    max-width: 94px;
}

.subscribe button {
    max-width: 94px !important;
    text-align: center;
    padding: 5px 10px 10px;
}

.subscribe span {
    font-size: 14px;
    color: white;
}

.footer-icon>a {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

.footer-section hr {
    height: 3px;
    background: var(--btn--color);
}

.end-img {
    width: 24px;
    height: 24px;
}


/* For mobile screen sort */
/* Products Section */
.mobile,
.mobile-items {
    display: none;
}



@media screen and (max-width:992px) {
    .nav-collapse {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        backdrop-filter: blur(40px);
        z-index: 100;
    }

    .nav-collapse,
    .list-item,
    .nav-btn {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-link {
        text-shadow: none;
    }

    .list-item {
        padding: 0;
    }

    .ham {
        display: block;
    }

    .bottom-content {
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 40px 15px;
    }

    .bottom-content>div {
        width: 33.33%;
    }

    .banner-section .title1 {
        margin-bottom: 70px;
    }

    .form-check label {
        font-size: 9px;
    }

    .form-check {
        padding: 1px;
        min-width: 50px;
    }

    .card-row {
        margin-bottom: 50px;
    }

    .contact-container {
        width: 85%;
    }

    /* Footer */
    .subscribe #email {
        max-width: 228px;
    }

    .res {
        display: block !important;
    }

    .subscribe {
        display: none;
    }

    .form-footer {
        flex-wrap: nowrap;
    }

    .form-footer #footer-email {
        padding: 11px 7px;
        border-radius: 4px;
    }

    .subscribe button {
        display: block;
    }

}

@media screen and (max-width:768px) {
    .car-section .col-10 {
        width: 100%;
    }

    .car-section .col-2 {
        display: none;
    }

    .car-section {
        padding-bottom: 20px;
    }

    .bottom-content>div {
        padding-left: 0;
    }

    .icon-content {
        font-size: 12px;
    }

    .cart {
        width: 100%;
    }

    .icon-content span {
        font-size: 13px;
    }

    .contact-container {
        width: 95%;
        padding: 10px;
        position: static !important;
        transform: translateX(0);
        margin-block: 15px;
    }

    .contact-form button,
    .left form button {
        width: 100%;
    }

    .review-section {
        padding-bottom: 30px;
    }

    .footer-section {
        padding: 15px;
    }

    ul {
        padding-left: 0;
    }

    .f-link {
        width: 50%;
    }

    /* Mobile */
    .mobile {
        display: block !important;
    }

    .mobile-items {
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: #c2c2c2; */
        width: 70%;
        margin: auto;
        z-index: 100;
        padding: 15px 20px;
        border-radius: 20px;
        backdrop-filter: blur(40px);
    }

    .yellow-btn,
    .bf {
        min-width: 150px;
        padding: 15px 20px;
    }

    .form-checkbox {
        font-size: 18px;
    }


    .fa-circle-xmark {
        font-size: 24px;
        color: var(--btn--color);
    }

}

@media screen and (max-width:575px) {
    .col-6 {
        width: 100%;
    }

    .bottom-content>div {
        width: 50%;
    }
    .icon-content{
        font-size: 9px;
    }

    .bottom-content {
        padding: 15px 10px;
        text-align: start !important;
    }
    .form-img{
        width: 20px;
        margin: 0;
    }

    .bottom-content>div:last-child,
    .search>a,
    .search>a>button {
        width: 100%;
    }

    .sub-head {
        font-size: 15px;
    }

    .icon-content span,
    .sub-para {
        font-size: 12px;
    }

    .sort {
        font-size: 10px;
    }

    button span {
        font-size: 14px;
    }

    .bottom-content>.search,
    .bottom-content>.search>a,
    .bottom-content>.search>a>button {
        width: 100%;
    }

    .content1 .pa,
    .content2 .pa {
        font-size: 11px;
    }

    /* Footer */
    .footer-section>.container>.row>div {
        margin-bottom: 10px;
    }

    .subscribe {
        gap: 10px;
    }

    /* .subscribe #email,
  .subscribe button {
    margin: auto;
  } */
    .f-link {
        width: 50% !important;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links>li a {
        font-size: 14px;
    }

    .footer-para {
        font-size: 12px;
    }

    .right .title4 {
        text-align: center;
        margin-top: 12px;
    }

    .sm-text {
        text-align: center;
    }

    .mobile-items {
        width: 100%;
    }

    .yellow-btn,
    .bf {
        min-width: 120px;
    }


}