/* Font Link */
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1350px !important;
    width: 100% !important;
    margin: 0 auto;
    padding: 0 15px;
}

.title3 {
    font-size: 24px;
    font-weight: 600;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.text-secondary {
    color: #919191 !important;
}

/* Header Section */
.header-section {
    background-color: #f9f9f9;
}

.logo-img {
    height: fit-content;
    width: 216px;
    object-fit: contain;
}

.gap-65 {
    flex-grow: 0;
    flex-basis: auto;
    gap: 80px;
}

.nav-dp,
.nav-dp>a {
    height: 44px;
    width: 44px;

}

.nav-dp {
    left: -22px;
}

.nav-link {
    font-size: 19px;
}

.notification {
    top: -22px;
    left: 26px;
    border-radius: 50%;
    border: 1px solid #596780;
    height: 44px;
    width: 44px;
}

.img-icon {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.ham::before {
    background: none !important;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 19px;
    border-radius: 8px;
    overflow: hidden;
    background: black;
    color: rgb(255, 255, 255);
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #ffae00;
    width: 120%;
    left: -10%;
    transform: skew(15deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.nav-link:hover {
    color: #ffae00 !important;
    content: " ";
    border-bottom: 1px solid var(--btn--color);
}

/* Booking Section */
.booking-section {
    background: url(../Assets/vistara_banner.png) no-repeat center/cover;
}

.booking-section .card {
    border: none;
}

.booking-section h5 {
    font-weight: 600;
}

.booking-section .list-unstyled li {
    margin-bottom: 8px;
}

#payBtn {
    background: #007bff;
}

.card-body {
    background-color: #EBF6FF;
}

.hyundai {
    max-width: 240px !important;
}

.col-10>h6 {
    font-size: 20px;
    font-weight: 700;
    margin-block: 20px 10px;
}

.cart-content {
    margin-bottom: 62px;
}

.content1 .pa,
.content2 .pa {
    font-size: 14px;
    font-weight: 500;
}

.card-body h6 {
    font-size: 16px;
    font-weight: 400;
    color: #919191;
}

.sep>.col-6 {
    font-size: 16px;
    font-weight: 600;

}

.txt-cont {
    max-width: 365px;
    font-size: 16px;
    font-weight: 400;
    color: #919191;
}

.park p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.park p+p {
    font-size: 8px;
    font-weight: 400;
}

.cart {
    background-color: #EBF6FF;
    padding: 25px 18px 24px 10px;
    border-radius: 10px;
    min-height: 410px;
}

.payble {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 14px 21px 14px 17px;
}

.payble>.row {
    margin-bottom: 17px;
    justify-content: space-between;
}

.payble>.row>* {
    width: fit-content;
}

.payble>div>div:first-child {
    font-size: 14px;
    font-weight: 400;
    color: #919191;
}

.payble>.row>div:last-child {
    font-size: 16px;
    font-weight: 500;
    color: #2f3240;
}

.payble>div:nth-child(6) {
    margin-bottom: 100px;
}

.border-top {
    border-top: 1px solid black !important;
}

#payBtn {
    font-size: 30px;
    font-weight: 600;
    padding-block: 12px;
}

.km {
    background-color: #EBF6FF;
    padding: 17px 35px 22px 28px;
}

.km>.row {
    margin-bottom: 11px;
}

.card-info {
    background: #EBF6FF;
}

.t-5 {
    font-size: 16px;
    font-weight: 500;

}

.sub-para {
    font-size: 12px;
    max-width: 280px;
    font-weight: 400;
    color: #B0B0B0;
}

.card-l>div,
.card-r>div {
    border-bottom: 1px solid #B0B0B0;
}

/* Support Section */

.support-section {
    padding: 72px 15px 360px;
}

.dp-content>.row>* {
    width: fit-content;
}

.dp-img {
    height: 80px;
    max-width: 80px;
    border-radius: 50%;
}

.dp-name {
    font-size: 18px;
    font-weight: 600;

}

.dp-tips {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
}

.dp-info p {
    color: #6fb64d;
    font-size: 10px;
    margin-block: 10px 7px;
}

.star {
    color: #596780;
    font-size: 14px;
    font-weight: 500;
}

.star img {
    max-width: 108px;
    height: 20px;
    object-fit: contain;
}

.dp-para {
    font-size: 16px;
    font-weight: 400;
    color: #919191;
    margin-top: 20px;
}

.dp-btn>a {
    border: 1px solid #ffae00;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: #ffae00;
    font-weight: 500;
}

.dp-btn>a:hover {
    background: black;
}

.dp-btn img {
    width: 14px;
    height: 12px;
    object-fit: contain;
    margin-right: 5px;
}

.support-info p {
    font-size: 14px;
    font-weight: 500;
}

.drop-off {
    padding: 34px 24px;
    box-shadow: 1px 1px 4px #B0B0B0;
    border-radius: 5px;
}

.drop-top {
    font-size: 18px;
    font-weight: 500;
    color: #575757;
}

.drop-top span {
    color: #ffae00;
    background: #f6eef8;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 20px;
}

.drop-top img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-right: 3px;
}

.drop-bottom img {
    width: 12px;
    height: 15px;
    object-fit: contain;
    margin-right: 10px;
}

/* Contact US  */
/* Contact -section */

.contact-container {
    width: 896px;
    margin: auto;
    border-radius: 16px;
    padding: 30px 15px 20px;
    z-index: 5;
    position: relative;
    overflow: hidden;
    box-shadow: -1px -3px 6px 2px gainsboro;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    flex: 1 1 300px;
    padding: 20px;
}

.left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.left form input,
.left form textarea {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    max-height: 45px;
}

.left form textarea {
    max-height: 94px !important;
}

.left form button {
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -25px;
}

.app-download p {
    margin: 0;
}

.sm-text {
    color: #ada9a9;
    font-size: 1rem;
    margin-bottom: 18px;
}

.badges {
    height: 120px;
    width: 180px;
}

.badges a {
    height: 100%;
    width: 100%;
}

.black-img {
    height: 60px;
    width: 180px;
    object-fit: contain;
}

.cars-bottom {
    height: 138px;
    max-width: 691px;
    margin: auto;
}

.right .title4 {
    font-weight: 300;
    margin-bottom: 12px;
}

/* Footer Section */
.footer-section {
    padding: 300px 15px 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links>li a {
    color: white;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe button {
    margin-top: 14px;
}

.subscribe #email {
    padding: 11px 7px;
    border-radius: 4px;
}

.subscribe a {
    max-width: 94px;
}

.subscribe button {
    max-width: 94px !important;
    text-align: center;
    padding: 5px 10px 10px;
}

.subscribe span {
    font-size: 14px;
    color: white;
}

.footer-icon>a {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

hr {
    height: 3px;
    background: #ffae00;
}

.end-img {
    width: 24px;
    height: 24px;
}






@media screen and (max-width:992px) {
    .gap-65 {
        flex-grow: 1;
        flex-basis: 100%;
        text-align: center;
        gap: 30px;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        position: absolute;
        top: 80px;
        z-index: 5;
        left: 0;
        right: 0;
        padding-block: 10px;
    }

    .nav-dp {
        margin: 0 auto 10px;
        left: 0;
    }

    .navbar-nav {
        margin-bottom: 30px !important;
    }

    .nav-link {
        color: black !important;
    }

    .nav-btn {
        flex-direction: column;
        gap: 25px;
        margin-block: 20px;
    }

    #payBtn {
        font-size: 25px;
    }

    .contact-container {
        width: 85%;
    }

    .subscribe #email {
        max-width: 228px;
    }

    .res {
        display: block !important;
    }

    .subscribe {
        display: none;
    }

    .form-footer {
        flex-wrap: nowrap;
    }

    .form-footer #footer-email {
        padding: 11px 7px;
        border-radius: 4px;
    }

    .subscribe button {
        display: block;
    }

}

@media screen and (max-width:768px) {
    .card-body .border-end {
        border: none !important;
    }

    .w-75 {
        width: 100% !important;
    }

    /* Contatct */
    .contact-container {
        flex-direction: column;
    }

    .right-review .title4 {
        text-align: center;
        margin-block: 15px;
    }

    .right-review .para,
    .right-review .input {
        margin: auto;
        text-align: center;
    }

    .right-review .input {
        width: 100%;
    }

    .cars-bottom {
        position: relative;
        bottom: 0;
        transform: none;
        justify-content: center;
        margin-top: 24px;
    }

    .contact-container {
        width: 95%;
        padding: 10px;
        position: static !important;
        transform: translateX(0);
        margin-block: 15px;
    }

    .right {
        text-align: center;
    }

    .badges {
        margin: auto;
    }

    .contact-form button,
    .left form button {
        width: 100%;
    }

    .review-section {
        padding-bottom: 30px;
    }

    .footer-section {
        padding: 15px;
    }

    ul {
        padding-left: 0;
    }

    .f-link {
        width: 50%;
    }

    .support-section {
        padding-bottom: 50px;
    }


}

@media screen and (max-width:575px) {
    .title3 {
        font-size: 20px;
    }

    .booking-section .card-body {
        flex-direction: column !important;
        padding: 10px 15px;
    }

    .payble>.row>div:last-child,
    .dp-para,
    .sep>.col-6,
    .card-body h6 {
        font-size: 14px;
    }

    .payble>div>div:first-child,
    .drop-bottom {
        font-size: 12px !important;
    }

    .booking-section h5 {
        text-align: center;
    }

    .t-5,
    .txt-cont {
        font-size: 12px;
        margin-block: 10px !important;
    }

    .sub-para {
        font-size: 10px;
        margin-bottom: 10px !important;
    }

    .dp-img {
        margin: auto;
    }

    .dp-btn {
        flex-direction: column;
    }

    .content1 .pa,
    .content2 .pa {
        font-size: 10px;
    }

    .cart-content {
        margin-bottom: 20px;
    }

    .park p+p {
        font-size: 6px;
    }

    .dp-para {
        font-size: 12px;
        margin-top: 15px;
    }

    .drop-top {
        font-size: 15px;
    }

    .support-section {
        padding: 30px 0;
    }

    .logo-img {
        width: 140px;
    }

    .mobile-banner {
        width: 90%;
        padding-bottom: 0;
    }

    .bottom-content {
        bottom: -140px;
        padding: 20px 15px;
    }

    .bottom-content>div {
        width: 50%;
    }

    .right {
        margin: auto;
    }

    .gap-5 {
        gap: 30px !important;
    }

    .support {
        max-width: 275px;
    }

    .icon-call {
        width: 40px;
        height: 40px;
    }

    .checkout {
        padding-top: 160px;
        padding-bottom: 20px;
    }

    .popular-swiper-section {
        padding: 15px 10px;
    }

    .count-section {
        padding-block: 0;
    }

    .bottom-content>.search,
    .bottom-content>.search>a,
    .bottom-content>.search>a>button {
        width: 100%;
    }

    .footer-section>.container>.row>div {
        margin-bottom: 10px;
    }

    .subscribe {
        gap: 10px;
    }

    .f-link {
        width: 50% !important;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links>li a {
        font-size: 14px;
    }

    .footer-para {
        font-size: 12px;
    }

    #payBtn{
        width: 100% !important;
    }
}