/* Font Link */
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --btn--color: #ffae00;
    --font--color: #b0b0b0;
    --cart--color: #f3f6f8;
    --bg--color: #f8f8f8;
    --para-color: #8d8d8d;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
}

h1,
.title1 {
    font-size: 48px;
    font-weight: 600;
    color: white;
}



p,
.sub-para {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}

p,
.para {
    font-size: 14px;
    font-weight: 400;
    color: var(--para-color);
}

a {
    text-decoration: none !important;
    display: inline-block;
}

ul>li {
    list-style-type: none;
}

.mx-vh-100 {
    min-height: 800px;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Header Section */
.header-section {
    left: 0;
    right: 0;
    z-index: 100;
}

.logo-img {
    height: fit-content;
    width: 216px;
    object-fit: contain;
}

.gap-65 {
    flex-grow: 0 !important;
    flex-basis: auto;
    gap: 20px;
}

.nav-link {
    font-size: 19px !important;
    font-weight: 500 !important;
    padding-right: 0 !important;
    text-shadow: 2px 2px 0 white;
}

.ham::before {
    background: none !important;
}

.btn-signup {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 19px;
    border-radius: 8px;
    overflow: hidden;
    background: black;
    color: rgb(255, 255, 255) !important;
}

.btn-signup span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btn-signup::before,
.btn-signup::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-signup::before {
    content: "";
    background: var(--btn--color);
    width: 120%;
    left: -10%;
    transform: skew(15deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-signup:hover::before {
    transform: translate3d(100%, 0, 0);
}

.nav-link:hover {
    color: var(--btn--color) !important;
    content: " ";
    border-bottom: 1px solid var(--btn--color);
}

/* Offcanvas */
.offcanvas {
    display: none;
}

.offcanvas-body a {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
    display: block;
}

.offcanvas-body button {
    width: 100%;
}

.offcanvas-header button::before {
    display: none;
}

.offcanvas-header button {
    background: url(../Assets/x-white.jpg)no-repeat center/contain;
    height: 25px;
    width: 25px;
}

/* Sign up  */

.signup-container {
    min-height: 100vh;
    padding-top: 50px;
    background: url(../Assets/Sign-up.jpg) no-repeat center/cover;
}

.logo {
    max-width: 550px;
    width: 100%;
    margin-left: -100px;
}

.branding {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-img {
    max-width: 842px;
}

.car-img>img,
.logo>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form-section {
    max-width: 500px !important;
    margin: auto;
    background: #fff;
}

.form-control {
    background-color: var(--bg--color) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.15rem #ffae00;
    border-color: #ffae00;
}

.btn-orange {
    background-color: #ffae00;
    color: white;
}

.btn-orange:hover {
    background-color: #e69c00;
}

.form-check-input:checked {
    background-color: #ffae00;
    border-color: #ffae00;
}

.input-group label {
    display: block;
    width: 100%;
}

.input-group a {
    width: 100%;
    padding: 15px 10px;
    border-radius: 8px;
    background: #f2f2f2;
}

.form-password {
    background: none;
    outline: none;
    border: none;
}

.form-list label {
    margin-bottom: 12px;
}

.form-check+button {
    min-width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0 auto;
    position: relative;
    display: block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 19px;
    border-radius: 8px;
    overflow: hidden;
    background: black;
    color: rgb(255, 255, 255);
}

.form-check+button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.form-check+button::before,
.form-check+button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.form-check+button::before {
    content: "";
    background: var(--btn--color);
    width: 120%;
    left: -10%;
    transform: skew(15deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.form-check+button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.end {
    color: #919191 !important;
    font-size: 15px;
}

.end a {
    color: var(--btn--color) !important;
    font-weight: 700;
}

.form-check-label {
    color: #B1b1b1;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 992px) {
    .signup-container {
        padding-bottom: 0;
    }

    .navbar-toggler {
        background: white !important;
    }

    .offcanvas {
        display: block;
    }

    .nav-link {
        color: white !important;
        text-shadow: 0 0 black;
    }

    .nav-btn {
        flex-direction: column;
        gap: 25px;
        margin-block: 20px;
    }

    .logo {
        display: none;
    }

    .btn-signup {
        text-align: center;
    }
}

@media screen and (max-width : 768px) {
    .signup-container {
        background: none;
        background-color: black;
    }

    .col-6 {
        width: 100% !important;
    }

    .logo {
        max-width: 500px;
        margin-left: 0;
    }

}

@media screen and (max-width: 575px) {
    .form-section {
        padding: 30px 5px;
    }
}